####################################
# Maven / Java
####################################
target/
**/target/
*.class
*.jar
*.war
*.ear

####################################
# Logs
####################################
*.log
logs/
**/logs/

####################################
# Spring Boot
####################################
application-local.yml
application-dev.yml

####################################
# IDE - IntelliJ / VS Code / Eclipse
####################################
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

####################################
# OS
####################################
.DS_Store
Thumbs.db
desktop.ini

####################################
# Docker
####################################
docker-data/
**/docker-data/

####################################
# Node / Frontend (si React plus tard)
####################################
node_modules/
dist/
build/

####################################
# Env / Secrets
####################################
.env
.env.*
*.pem
*.key

####################################
# Git
####################################
*.orig
*.swp
